{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} iCafe{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f90aae496c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Cafe Logo" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">домашняя страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_list' %}">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_order' %}">оформить заказ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_item' %}">Добавить товар </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'revenue_report' %}">Отчет о доходах</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="{% url 'api-root' %}">API</a>
                     </li>
                </ul>
            </div>
        </div>
    </nav>
<br>
    <br>
    <div class="container mt-4">
        {% block content %}

        {% endblock %}
    </div>

<footer class="">
        <div class="container text-center justify-center">

        <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <i class="fa fa-envelope" aria-hidden="true"></i> wambonk@gmail.com
        </div>

        <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <a class="nav-link active" href="https://t.me/wa_mb">@wa_mb</a>
        </div>
        <span>Copyright 2025 <i>I</i>Cafe. All rights reserved.</span>
            <br>

        </div>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
